@use './abstracts/' as *;
//@use './components/' as *;
//@use './pages/' as *;

h1 {
  text-align: center;
}

main {
  display: flex;
  &>div{
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
    &>div {
      display: flex;
      flex-direction: column;
    }
  }
  & nav>ul {
    min-height: 100vh;
    border-right: 1px solid $primeColor;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    list-style-type: none;
    min-width: 200px;
    & li {
      margin-top: 2rem;
    }
  }

  p {
    margin-top: 1rem;
  }

  & div>ol {
    margin-top: 1rem;

    &>li {
      margin-left: 2rem;
      
    }
  }
  & div img {
    max-width: 500px;
    align-self: center;
  }
}

.link__active {
  text-decoration: none;
  font-weight: 700;
  border: 1px solid $primeColor;
  box-shadow: 1px 1px 2px $primeColor;
  padding: .2rem;
}

.link__inactive {
  text-decoration: none;
  font-weight: 400;
  border: 1px solid transparent;
}